@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins";
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

.btn:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.calculator {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin: 100px auto;
  width: 350px;
  overflow: hidden;
}

#answer {
  background: hsl(200, 8%, 21%);
  color: #fff;
  font-size: 23px;
  padding: 25px 100px 25px 10px;
}

.cal-main {
  display: grid;
}

.cal-btns {
  background: #fff;
  border: none;
  padding: 20px 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

.cal-btns:active,
.cal-btns:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
  outline: none;
}

.calc-btn-equal {
  grid-column: 4 / 5;
  grid-row: 2 / 6;
  background: #2e2d2d;
  color: #fff;
  font-size: 30px;
}
